.container {
    display: grid;
    place-items: center;  
    text-align: center;
    height: 100vh;
}
  
.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.title .word {
    animation: color-animation 4s linear infinite;
}
  
.word-1 {
    --color-1: #17494D;
    --color-2: #DF8453;
    --color-3: #3D8DAE;
}
  
.word-2 {
    --color-1: #3D8DAE;
    --color-2: #17494D;
    --color-3: #DF8453;
}
  
.word-3 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #17494D;
}
  
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}